[Unit]
Description=chat demo service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=charming
ExecStart=/usr/bin/java -jar /home/charming/Projects/code/pv/java/alfa4/alfa_4-all.jar
[Install]
WantedBy=multi-user.target
