<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <title>KutaAlfa4</title>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
        <main>
            <div class="sender">
                
                <h1>Alfa4 Message Sender</h1>
                <form class="sendForm" action="/send">
                    
                    <div class="custom-select">
                        <span>Send to: </span>
                        <select name="peer" value="peer">
                            <option value="all">Everyone</option>
                            <option classth:each="peer:${peers}" th:text="${peer}" th:value="${peer}"></option>
                        </select>
                    </div>
                    <textarea rows="" class="msg" name="message" cols="" placeholder="Enter a message..."></textarea>
                    <input class="send" type="submit" value="Send">
                </form>
            </div>
            <div class="messages">
                <ul class="">
                    <li th:each="message:${msgs}">
                        <div class="message">
                            <span class="author" th:text="${message.author}">author</span>
                            <span class="messageContent" th:text="${message.msg}">Some message I sent</span>
                            <span class="messageId" th:text="${message.id}">My ID</span>
                        </div>

                    </li>
                </ul>
            </div>
        </main>
  </body>
</html>
